@use 'base/variables' as v;
@use 'sass:math';


.footer{
    padding: math.div(v.$separacion, 2) 0;
    background-color: v.$grisOscuro;

    .contenidor-footer{
        padding-top: math.div(v.$separacion, 2);
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright{
        color: v.$blanco;
        text-align: center;
    }
}